<header class="fixed top-0 left-0 w-full z-100 flex justify-center bg-[#333]">
  <div class="flex w-[100%] lg:w-[60%]">
    <ul class="flex w-[30%] justify-between">
      <li
        class="w-[69px] flex items-center justify-center cursor-pointer border-r border-[#111] bg-[linear-gradient(#f70,#f30)]"
      >
        <a href="/" class=""
          ><img
            src="https://a-v2.sndcdn.com/assets/images/brand-1b72dd82.svg"
            alt=""
            class="brightness-0 invert"
        /></a>
      </li>
      <li
        class="flex-1 text-[rgb(204,204,204)] hover:bg-black hover:text-white py-3 flex items-center justify-center cursor-pointer border-r border-[#111]"
      >
        <a>Home</a>
      </li>
      <li
        class="flex-1 text-[rgb(204,204,204)] hover:bg-black hover:text-white py-3 flex items-center justify-center cursor-pointer border-r border-[#111]"
      >
        <a>Library</a>
      </li>
    </ul>
    <ul
      class="flex w-[30%] items-center justify-center py-[9px] mr-[10px] ml-[8px]"
    >
      <input
        type="text"
        class="min-w-[150px] w-[100%] h-[28px] rounded outline-none bg-white py-[5px] px-[7px]"
        placeholder="Search"
      />
    </ul>
    <ul class="flex items-center justify-between">
      <li class="m-[10px]">
        <a
          href="/"
          class="bg-black text-white border-1 border-[rgb(255,85,0)] px-[10px] py-[2px] whitespace-nowrap"
          >Upgrade Now</a
        >
      </li>
      <li
        class="hover:text-white px-[10px] py-[12px] text-[rgb(204,204,204)] cursor-pointer"
      >
        For Artists
      </li>
      <li
        class="hover:text-white px-[10px] py-[12px] text-[rgb(204,204,204)] cursor-pointer"
      >
        Upload
      </li>
      <li
        class="group cursor-pointer hover:bg-[#111] flex justify-between items-center px-[10px] py-[12px] gap-3 relative"
      >
        <img
          src="https://t3.ftcdn.net/jpg/03/22/53/38/360_F_322533850_Lz5JL2K0nVqL48gjCiRLSa2ssxpdfyer.jpg"
          alt=""
          class="rounded-full object-cover h-[26px] w-[26px]"
        />
        <i class="fa-solid fa-arrow-down text-white text-[8px]"></i>
        <ul
          class="z-100 hidden absolute left-0 top-full border border-[#ccc] bg-[#fff] group-hover:block"
        >
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-user"></i>
            Profile
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-heart"></i>
            Likes
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-list"></i>
            Playlists
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-wave-square"></i>
            Stations
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-person-walking-arrow-right"></i>
            Following
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-person-walking-arrow-loop-left"></i>
            Who to follow
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-star"></i>
            Try Artist Pro
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-gift"></i>
            Partner offers
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-music"></i>
            Tracks
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-star"></i>
            Insights
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-arrows-up-down-left-right"></i>
            Distribute
          </li>
        </ul>
      </li>
      <li class="cursor-pointer">
        <i
          class="fa-solid fa-bell px-[10px] py-[12px] text-[#ccc] hover:text-[#fff]"
        ></i>
      </li>
      <li class="cursor-pointer">
        <i
          class="fa-solid fa-ellipsis px-[10px] py-[12px] text-[#ccc] hover:text-[#fff] text-2xl"
        ></i>
      </li>
    </ul>
  </div>
</header>
