<header class="sticky top-0 left-0 w-full z-100 flex justify-center bg-[#333]">
  <div class="flex w-[100%] lg:w-[80%]">
    <ul class="flex w-[30%] justify-between">
      <li
        class="w-[69px] flex items-center justify-center cursor-pointer border-r border-[#111] bg-[linear-gradient(#f70,#f30)]"
      >
        <a href="/" class=""
          ><img
            src="https://a-v2.sndcdn.com/assets/images/brand-1b72dd82.svg"
            alt=""
            class="brightness-0 invert"
        /></a>
      </li>
      <li
        [routerLink]="isLoggedIn ? ['discover'] : ['home']"
        class="flex-1 text-[rgb(204,204,204)] hover:bg-black hover:text-white py-3 flex items-center justify-center cursor-pointer border-r border-[#111]"
      >
        <a>Home</a>
      </li>

      <li
        class="flex-1 text-[rgb(204,204,204)] hover:bg-black hover:text-white py-3 flex items-center justify-center cursor-pointer border-r border-[#111]"
        [routerLink]="isLoggedIn && userProfile ? 'library' : null"
        (click)="!isLoggedIn || !userProfile ? onShowAuthModal() : null"
      >
        <a>Library</a>
      </li>
    </ul>

    <ul
      class="flex w-[30%] items-center justify-center py-[9px] mr-[10px] ml-[8px]"
    >
      <div
        class="relative min-w-[150px] w-[100%] h-[28px] rounded bg-white py-[5px] px-[7px]"
      >
        <form>
          <input type="text" class="w-full outline-none" #searchBox (keydown.enter)="onSearch(searchBox.value)" placeholder="Search" />
          <button type="button" class="cursor-pointer">
            <i
              class="fa-solid fa-magnifying-glass absolute right-2 top-1/2 transform -translate-y-1/2"
            ></i>
          </button>
        </form>
      </div>
    </ul>
    <ul
      *ngIf="isLoggedIn && userProfile; else noLoggedIn"
      class="flex items-center justify-between"
    >
      <li class="m-[10px]">
        <a
          href="/"
          class="bg-black text-white border-1 border-[rgb(255,85,0)] px-[10px] py-[2px] whitespace-nowrap"
          >Upgrade Now</a
        >
      </li>
      <li
        class="hover:text-white px-[10px] py-[12px] text-[rgb(204,204,204)] cursor-pointer"
      >
        For Artists
      </li>
      <li
        routerLink="upload"
        class="hover:text-white px-[10px] py-[12px] text-[rgb(204,204,204)] cursor-pointer"
      >
        Upload
      </li>
      <li
        class="group cursor-pointer hover:bg-[#111] flex justify-between items-center px-[10px] py-[12px] gap-3 relative"
      >
        <img
          [src]="
            userProfile.avatar?.startsWith('https')
              ? userProfile.avatar
              : avatarUrl + '/' + userProfile.avatar
          "
          alt=""
          class="rounded-full object-cover h-[26px] w-[26px]"
        />
        <i class="fa-solid fa-arrow-down text-white text-[8px]"></i>
        <ul
          class="z-100 hidden absolute left-0 top-full border border-[#ccc] bg-[#fff] group-hover:block"
        >
          <li>
            <a
              class="hover:bg-[#f2f2f2] block whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
              [routerLink]="['/profile', userProfile.userId]"
            >
              <i class="fa-solid fa-user"></i>
              Profile
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#f2f2f2] block whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
              [routerLink]="['/library', 'likes']"
            >
              <i class="fa-solid fa-heart"></i>
              Likes
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#f2f2f2] block whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
              [routerLink]="['/library', 'playlists']"
            >
              <i class="fa-solid fa-list"></i>
              Playlists
            </a>
          </li>
          <li>
            <a
              class="hover:bg-[#f2f2f2] block whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
              [routerLink]="['/library', 'following']"
            >
              <i class="fa-solid fa-person-walking-arrow-right"></i>
              Following
            </a>
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <a
              class="hover:bg-[#f2f2f2] block whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
              [routerLink]="['/library', 'following']"
            >
              <i class="fa-solid fa-person-walking-arrow-loop-left"></i>
              Who to follow
            </a>
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-music"></i>
            Tracks
          </li>
          <li
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-star"></i>
            Insights
          </li>
          <li
            (click)="onLogOut()"
            class="hover:bg-[#f2f2f2] whitespace-nowrap text-xs text-[#333] font-bold py-2 px-[10px]"
          >
            <i class="fa-solid fa-arrows-up-down-left-right"></i>
            Logout
          </li>
        </ul>
      </li>
      <li class="cursor-pointer">
        <i
          class="fa-solid fa-bell px-[10px] py-[12px] text-[#ccc] hover:text-[#fff]"
        ></i>
      </li>
      <li class="cursor-pointer">
        <i
          class="fa-solid fa-ellipsis px-[10px] py-[12px] text-[#ccc] hover:text-[#fff] text-2xl"
        ></i>
      </li>
    </ul>
    <ng-template #noLoggedIn>
      <ul class="grow gap-4 justify-end items-center flex">
        <button
          (click)="onShowAuthModal()"
          type="button"
          class="cursor-pointer bg-white px-[15px] py-[4px] rounded"
        >
          Sign in
        </button>
        <button
          (click)="onShowAuthModal()"
          type="button"
          class="cursor-pointer bg-[var(--primary-orange-color)] px-4 py-[4px] rounded text-white"
        >
          Create account
        </button>
      </ul>
    </ng-template>
  </div>
</header>
