<app-card
  [goTo]="goToPlaylist"
  [toggleLike]="toggleLike"
  [toggleFollow]="toggleFollow"
>
  <div class="flex">

    <div class="flex flex-col">
      <div class="bg-gray-400 p-4 w-full flex-grow-1">
        <img src={{relatedTrack.trackPath}} alt="Song" class="w-full">
      </div>
      <p class="bg-black text-white text-sm p-1">{{relatedTrack.trackName}}</p>
    </div>
    <div class="flex flex-col item-center bg-gray-500">
      <img src="assets/soundcloud.svg" alt="SoundCloud" class="w-4 h-4">
      <div class="text-white text-xs rotate flex-grow-1 p-1">
        <p class="text-center ">
          RELATED TRACKS
        </p>
      </div>
    </div>
  </div>
  <div footer class="pt-2 flex flex-col ">
    <a class="text-sm font-semibold mt-1 truncate">{{ relatedTrack.trackName }}</a>
    <!-- Tên tác giả -> truyền tên tác giả -->
    <a class="text-xs text-gray-500">
      <span class="font-semibold">{{ relatedTrack.authors }}</span>
    </a>
  </div>

</app-card>