<div class="max-w-[165px] select-none cursor-pointer">
  <div class="flex relative"
    (mouseover)="showPlayButton()"
    (mouseleave)="hiddenPlayButton()"
    >
  <ng-container *ngIf="isHovered;then hover"></ng-container>

    <div class="flex flex-col">
      <div class="bg-gray-400 p-4 w-full flex-grow-1">
        <img src={{relatedTrack.trackPath}} alt="Song" class="w-full">
      </div>
      <p class="bg-black text-white text-sm p-1">{{relatedTrack.trackName}}</p>
    </div>
    <div class="flex flex-col item-center bg-gray-500">
      <img src="assets/soundcloud.svg" alt="SoundCloud" class="w-4 h-4">
      <div class="text-white text-xs rotate flex-grow-1 p-1">
        <p class="text-center ">
          RELATED TRACKS
        </p>
    </div>
    
    
    </div>
  </div>


  <!-- Tên bài hát -> truyền tên bài hát -->
  <p class="text-sm font-semibold mt-1 truncate">{{ relatedTrack.trackName }}</p>
  <!-- Tên tác giả -> truyền tên tác giả -->
  <p class="text-xs text-gray-500">
    <span class="font-semibold">{{ relatedTrack.authors }}</span>
  </p>
</div>

<ng-template #hover>
  <div class="hover" (click)="prevent($event)">
      <div class="play-button" (click)="playTrack($event)">
          <img src="./assets/svg/play-circle-svgrepo-com.svg" alt="play-circle-svgrepo-com.svg">
      </div>
      <div class="track-footer">
          <span (click)="toggleLike($event)"  >
              <svg
              [class.liked]="isLiked" [class.unliked]="!isLiked"
              width="20px" height="20px" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </span>
      </div>
  </div>
</ng-template>
