<div class="w-48 text-center">
  <div class="relative w-full border-4 border-gray-400 rounded-lg p-1">
    <img src="assets/image.png" alt="Song" class="w-full h-auto rounded-md">
    <div class="absolute top-2 right-2">
      <img src="assets/soundcloud.svg" alt="SoundCloud" class="w-4 h-4">
    </div>
    <div class="absolute right-0 top-1/4 bg-gray-500 text-white text-xs py-0 px-1 rotate-90 border-radius 0.125rem">
      RELATED TRACKS
    </div>
  </div>
  <!-- Tên bài hát -> truyền tên bài hát -->
  <p class="text-sm font-semibold mt-1 truncate">{{ songTitle }}</p>
  <!-- Tên tác giả -> truyền tên tác giả -->
  <p class="text-xs text-gray-500">
    <span class="font-semibold">{{ author }}</span>
  </p>
</div>
