<div class=" flex flex-col cursor-pointer select-none"
    (mouseover)="showPlayButton()"
    (mouseleave)="hiddenPlayButton()"
    >
    <div class="relative border border-gray-300 w-[180px] h-[180px]"
        (click)="goTo()"
    >
        <ng-content></ng-content>
        <ng-container *ngIf="isShow;then hover"></ng-container>
    </div>

    <ng-content select="[footer]"></ng-content>
    
</div>

<ng-template #hover>
    <div class="hover" (click)="prevent($event)">
        <div class="play-button" (click)="playTrackInnerCard($event)">
            <img
                class="w-7 h-7"
                src="./assets/icons/play.svg" 
                alt="play-circle-svgrepo-com.svg"
            >
        </div>
        <div class="footer">
            <span (click)="toggleLikeInnerCard($event)" [class.soundcloud-color]="isLiked" [class.white-color]="!isLiked" >
                <i class="fa-solid fa-heart"></i>
            </span>
            <span (click)="toggleFollowInnerCard($event)"[class.soundcloud-color]="isFollowed" [class.white-color]="!isFollowed" >
                <i class="fa-solid" [ngClass]="isFollowed ? 'fa-user-check' : 'fa-user-plus'"></i>  
                
            </span>
            <span class="text-white">
                <i class="fa-solid fa-ellipsis"></i>
            </span>
        </div>
    </div>
</ng-template>
