<div class="flex flex-col">
    <div class="self-center mb-2" >
        <div class="soundcloud w-25 h-25">
            <i class="fa-solid fa-headphones headphone"></i>
            <i class="fa-solid fa-eye left-eye"></i>
            <i class="fa-solid fa-eye right-eye"></i>
            <img src="./assets/svg/soundcloud.svg" class="bg-[var(--soundcloud-color)] rounded-full" alt="">
        </div>
    </div>
    <div>
        <div class="flex justify-between">
            <h3 class="">Artirst you should follow</h3>
            <span class="sidebarHeader__more__webi_style">Refresh list</span>
        </div>
        <app-user-card ></app-user-card>
    </div>
    <div>
        <div class="flex justify-between">
            <h3>24 Likes</h3>
            <span class="sidebarHeader__more__webi_style">View all</span>
        </div>
        <div *ngFor="let sound of soundCards">
            <app-sound-card
              [author]="sound.author"
              [songTitle]="sound.songTitle"
              [playCount]="sound.playCount"
              [likeCount]="sound.likeCount"
              [repeatCount]="sound.repeatCount"
              [commentCount]="sound.commentCount">
            </app-sound-card>
          </div>
          
    </div>
    <div>
        <div class="flex justify-between">
            <h3>Listening history</h3>
            <span class="sidebarHeader__more__webi_style">View all</span>
        </div>
        <div *ngFor="let sound of soundCards">
            <app-sound-card
              [author]="sound.author"
              [songTitle]="sound.songTitle"
              [playCount]="sound.playCount"
              [likeCount]="sound.likeCount"
              [repeatCount]="sound.repeatCount"
              [commentCount]="sound.commentCount">
            </app-sound-card>
          </div>
          
    </div>
</div>