<div>
  <app-track-info-and-wave [track]="track"></app-track-info-and-wave>
</div>
<div>
  <app-track-info-and-wave [track]="track"></app-track-info-and-wave>
</div>
<div>
  <app-track-info-and-wave [track]="track"></app-track-info-and-wave>
</div>
<div>
  <app-track-info-and-wave [track]="track"></app-track-info-and-wave>
</div>
<div>
  <app-track-info-and-wave [track]="track"></app-track-info-and-wave>
</div>
<div>
  <app-track-info-and-wave [track]="track"></app-track-info-and-wave>
</div>
<div>
  <app-track-info-and-wave [track]="track"></app-track-info-and-wave>
</div>
<div>
  <app-track-info-and-wave [track]="track"></app-track-info-and-wave>
</div>
<div>
  <app-track-info-and-wave [track]="track"></app-track-info-and-wave>
</div>
