<div class="inline-flex flex-col gap-2 items-center group">
  <div class="w-[180px] h-[180px] rounded-full">
    <img
      class="w-full h-full object-cover rounded-full"
      src="assets/images/image.png"
      alt=""
    />
  </div>
  <div class="hover:text-[#333] cursor-pointer">Mr Maspo</div>
  <div class="flex gap-2 items-center text-[#999] text-[11px]">
    <i class="fa-solid fa-user-group"></i>6 Followers
  </div>
  <button
    type="button"
    class="cursor-pointer group-hover:opacity-100 opacity-0 text-[11px] flex gap-2 items-center px-1 border text-[var(--primary-orange-color)] border-[var(--primary-orange-color)]"
  >
    <i class="fa-solid fa-person"></i>Following
  </button>
</div>
