<div class="flex justify-between gap-6 items-center">
  <!-- Avatar -->
  <div class="w-[40px] h-[40px] rounded-full">
    <img
      class="w-full h-full object-cover rounded-full"
      src="assets/images/image.png"
      alt=""
    />
  </div>

  <!-- Input -->
  <input
    class="grow h-[40px] rounded-[24px] border-none bg-[#f3f3f3] outline-none p-4"
    type="text"
    placeholder="123123"
  />

  <!-- Gửi -->
  <button class="cursor-pointer hover:opacity-80">
    <i class="fa-brands fa-telegram text-[40px]"></i>
  </button>
</div>
<div
  class="flex justify-end gap-2 mt-4 text-[#999999] text-[12px] pb-2 border-b border-gray-300"
>
  <div><i class="fa-solid fa-play"></i> 361k</div>
  <div><i class="fa-solid fa-heart"></i> 50k</div>
</div>
